<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Portada</title>
</head>
<body>
<h1>Nombre de la Institución:</h1>
    <h3>Instituto Superior de la Sierra Norte de Puebla</h3>

    <h1>Carrera:</h1>
    <h3>Ingeniería Informática</h3>

    <h1>Nombre Estudiante:</h1>
    <h3>Juan Pablo Leal Munguía</h3>

    <h1>Materia:</h1>
    <h3>Desarrollo de Web Avanzado</h3>

    <h1>Profesor:</h1>
    <h3>Adolfo Luna Sánchez</h3>

    <h1>Semestre:</h1>
    <h3>8vo Semestre</h3>   
    
    <h1>Fecha:</h1>
    <h3>13 de Mayo de 2022</h3>
    </div>

</body>
</html>